{% extends 'base.html' %}
{% block content %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Wyniki</title>
</head>
<body>
    <h1>Wyniki</h1>
    <table>
        <tr>
            <th>ID użytkownika</th>
            <th>Pytanie 1</th>
            <th>Pytanie 2</th>
            <th>Pytanie 3</th>
            <th>Pytanie 4</th>
            <th>Pytanie 5</th>
            <th>Pytanie 6</th>
            <th>Pytanie 7</th>
            <th>Pytanie 8</th>
            <th>Pytanie 9</th>
            <th>Pytanie 10</th>
        </tr>
        {% for result in results %}
        <tr>
            <td>{{ result.0 }}</td>
            <td>{{ result.1 }}</td>
            <td>{{ result.2 }}</td>
            <td>{{ result.3 }}</td>
            <td>{{ result.4 }}</td>
            <td>{{ result.5 }}</td>
            <td>{{ result.6 }}</td>
            <td>{{ result.7 }}</td>
            <td>{{ result.8 }}</td>
            <td>{{ result.9 }}</td>
            <td>{{ result.10 }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
{% endblock %}


