{% extends 'base.html' %}

{% block content %}
    {% if user_response and user_response.is_completed %}
        <p>Formularz został już wypełniony.</p>
    {% else %}
        <form method="post" action="{% url 'form_erasmo' %}">
        {% csrf_token %}


<!--    <label for="question1">1. Na ile oceniasz swoje umiejętności komunikacyjne z ludźmi z innych kultur? (1 - bardzo słabo, 10 - bardzo dobrze)</label>-->
<!--    <select name="question1" id="question1">-->
<!--        <option value="1">1</option>-->
<!--        <option value="2">2</option>-->
<!--        <option value="3">3</option>-->
<!--        <option value="4">4</option>-->
<!--        <option value="5">5</option>-->
<!--        <option value="6">6</option>-->
<!--        <option value="7">7</option>-->
<!--        <option value="8">8</option>-->
<!--        <option value="9">9</option>-->
<!--        <option value="10">10</option>-->
<!--    </select>-->
<!--    <br>-->
<!--    <label for="question2">2. Jak bardzo ważne jest dla Ciebie, aby Twój mentor miał podobne zainteresowania naukowe jak Ty? (1 - nieważne, 10 - bardzo ważne)</label>-->
<!--    <select name="question2" id="question2">-->
<!--        <option value="1">1</option>-->
<!--        <option value="2">2</option>-->
<!--        <option value="3">3</option>-->
<!--        <option value="4">4</option>-->
<!--        <option value="5">5</option>-->
<!--        <option value="6">6</option>-->
<!--        <option value="7">7</option>-->
<!--        <option value="8">8</option>-->
<!--        <option value="9">9</option>-->
<!--        <option value="10">10</option>-->
<!--    </select>-->
<!--    <br>-->
<!--    <label for="question3">3. Jak bardzo jesteś samodzielny w rozwiązywaniu problemów? (1 - potrzebuję dużo pomocy, 10 - radzę sobie sam)</label>-->
<!--    <select name="question3" id="question3">-->
<!--        <option value="1">1</option>-->
<!--        <option value="2">2</option>-->
<!--        <option value="3">3</option>-->
<!--        <option value="4">4</option>-->
<!--        <option value="5">5</option>-->
<!--        <option value="6">6</option>-->
<!--        <option value="7">7</option>-->
<!--        <option value="8">8</option>-->
<!--        <option value="9">9</option>-->
<!--        <option value="10">10</option>-->
<!--    </select>-->
<!--    <br>-->
<!--    <label for="question4">4. Jak istotne jest dla Ciebie uczestniczenie w wydarzeniach kulturalnych i towarzyskich organizowanych przez uczelnię? (1 - mało istotne, 10 - bardzo istotne)</label>-->
<!--    <select name="question4" id="question4">-->
<!--        <option value="1">1</option>-->
<!--        <option value="2">2</option>-->
<!--        <option value="3">3</option>-->
<!--        <option value="4">4</option>-->
<!--        <option value="5">5</option>-->
<!--        <option value="6">6</option>-->
<!--        <option value="7">7</option>-->
<!--        <option value="8">8</option>-->
<!--        <option value="9">9</option>-->
<!--        <option value="10">10</option>-->
<!--    </select>-->
<!--    <br>-->
<!--    <label for="question5">5. Na ile ważne jest dla Ciebie, aby Twój mentor był dostępny w sytuacjach awaryjnych? (1 - nieważne, 10 - bardzo ważne)</label>-->
<!--    <select name="question5" id="question5">-->
<!--        <option value="1">1</option>-->
<!--        <option value="2">2</option>-->
<!--        <option value="3">3</option>-->
<!--        <option value="4">4</option>-->
<!--        <option value="5">5</option>-->
<!--        <option value="6">6</option>-->
<!--        <option value="7">7</option>-->
<!--        <option value="8">8</option>-->
<!--        <option value="9">9</option>-->
<!--        <option value="10">10</option>-->
<!--    </select>-->
<!--    <br>-->
<!--    <label for="question6">6. Jak oceniasz swoją znajomość języka polskiego? (1 - nie znam, 10 - płynnie)</label>-->
<!--    <select name="question6" id="question6">-->
<!--        <option value="1">1</option>-->
<!--        <option value="2">2</option>-->
<!--        <option value="3">3</option>-->
<!--        <option value="4">4</option>-->
<!--        <option value="5">5</option>-->
<!--        <option value="6">6</option>-->
<!--        <option value="7">7</option>-->
<!--        <option value="8">8</option>-->
<!--        <option value="9">9</option>-->
<!--        <option value="10">10</option>-->
<!--    </select>-->
<!--    <br>-->
<!--    <label for="question7">7. Na ile chciałbyś/abyś aktywnie uczestniczyć w życiu studenckim AGH? (1 - niezbyt aktywnie, 10 - bardzo aktywnie)</label>-->
<!--    <select name="question7" id="question7">-->
<!--        <option value="1">1</option>-->
<!--        <option value="2">2</option>-->
<!--        <option value="3">3</option>-->
<!--        <option value="4">4</option>-->
<!--        <option value="5">5</option>-->
<!--        <option value="6">6</option>-->
<!--        <option value="7">7</option>-->
<!--        <option value="8">8</option>-->
<!--        <option value="9">9</option>-->
<!--        <option value="10">10</option>-->
<!--    </select>-->
<!--    <br>-->
<!--    <label for="question8">8. Jak bardzo cenisz sobie wsparcie w codziennych sprawach, takich jak zakupy, korzystanie z komunikacji miejskiej czy uczelnianych usług? (1 - nieważne, 10 - bardzo ważne)</label>-->
<!--    <select name="question8" id="question8">-->
<!--        <option value="1">1</option>-->
<!--        <option value="2">2</option>-->
<!--        <option value="3">3</option>-->
<!--        <option value="4">4</option>-->
<!--        <option value="5">5</option>-->
<!--        <option value="6">6</option>-->
<!--        <option value="7">7</option>-->
<!--        <option value="8">8</option>-->
<!--        <option value="9">9</option>-->
<!--        <option value="10">10</option>-->
<!--    </select>-->
<!--    <br>-->
<!--    <label for="question9">9. Na ile ważne jest dla Ciebie, aby Twój mentor miał doświadczenie w pracy z uczniami z Twojego kraju? (1 - nieważne, 10 - bardzo ważne)</label>-->
<!--    <select name="question9" id="question9">-->
<!--        <option value="1">1</option>-->
<!--        <option value="2">2</option>-->
<!--        <option value="3">3</option>-->
<!--        <option value="4">4</option>-->
<!--        <option value="5">5</option>-->
<!--        <option value="6">6</option>-->
<!--        <option value="7">7</option>-->
<!--        <option value="8">8</option>-->
<!--        <option value="9">9</option>-->
<!--        <option value="10">10</option>-->
<!--    </select>-->
<!--    <br>-->
<!--    <label for="question10">10. Jak bardzo chciałbyś/abyś otrzymać wsparcie w kwestiach związanych z nauką, takich jak nauka przedmiotów, egzaminy czy projekty? (1 - nieważne, 10 - bardzo ważne)</label>-->
<!--    <select name="question10" id="question10">-->
<!--        <option value="1">1</option>-->
<!--        <option value="2">2</option>-->
<!--        <option value="3">3</option>-->
<!--        <option value="4">4</option>-->
<!--        <option value="5">5</option>-->
<!--        <option value="6">6</option>-->
<!--        <option value="7">7</option>-->
<!--        <option value="8">8</option>-->
<!--        <option value="9">9</option>-->
<!--        <option value="10">10</option>-->
<!--    </select>-->
<!--    <br>-->
    <!-- Dodaj więcej pytań tutaj -->


        {{ form.as_p }}
    <input type="submit" value="Wyślij">
</form>
{% endif %}
{% endblock %}




